.services {
    height: 600px;

    .service-product {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: context-menu;

        h4 {
            font-family: "langar";
            font-weight: 200;
            color: var(--main-color);
            text-decoration: underline;
            letter-spacing: 0.6px;
            margin: 17px 0;
        }

        h2 {
            font-size: 37px;
            width: 50%;
            text-align: center;
            line-height: 47px;
            font-weight: 600;
            color: var(--main-color);
        }

        .cards {
            margin-top: 45px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 241px;
            gap: 17px;

            .card {
                padding: 22px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 13px;
                transition: 0.4s;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                border-radius: 3px;

                i {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3px;
                    color: var(--main-color);
                }

                h3 {
                    font-size: 19px;
                    font-weight: 500;
                }

                p {
                    font-size: 16px;
                }

                &:hover {
                    background-color: var(--main-color);
                    color: #fff;
                    transition: 0.2s;
                }
                &:hover>i {
                    background-color: var(--button-color);
                    color: #fff;
                }
            }
        }
    }
}